{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/certe_style.css' %}" rel="stylesheet">
    <style>
    </style>
</head>
<body>
    <header class="d-flex justify-content-between align-items-center p-3 curved-section header">
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" style="width: 50px; height: 50px;" onclick="showCerteHome();">
        <div class="d-flex align-items-center">
            Welcome, {% if received_username %}
            {{ received_username }}
            {% else %}
            Guest
            {% endif %}
            <i class="fas fa-user mx-2" title="Profile"></i>
            <i class="fas fa-bell mx-2" title="Notifications"></i>
            <a href="/logout" class="text-dark text-decoration-none">Logout</a>
        </div>
    </header>

    <main class="container-fluid curved-section mb-3 main-content">
        <nav class="col-md-2 bg-light sidebar p-3">
            <ul class="list-unstyled">
                <li class="py-2"><a href="#dashboard" class="text-decoration-none" onclick="return handleClick('dashboard');" style="font-size: 15px;">&#9201; Dashboard</a></li>
                <li class="py-2"><a href="#enrollment" class="text-decoration-none" onclick="return handleClick('enrollment');" style="font-size: 15px;">&#128209; Enrollment</a></li>
                <li class="py-2"><a href="#leadership" class="text-decoration-none" onclick="return handleClick('leadership');" style="font-size: 15px;">&#127942; Leadership</a></li>
                <li class="py-2"><a href="#Vouchers" class="text-decoration-none" onclick="return handleClick('Vouchers');" style="font-size: 15px;">&#127915; Vouchers</a></li>
                <li class="py-2"><a href="#upload-certificate" class="text-decoration-none" onclick="return handleClick('upload-certificate');" style="font-size: 15px;">&#127971; Upload Certificate</a></li>
            </ul>
        </nav>

        <div class="col-md-9" style="margin: auto;">
            <div id="dashboard" class="main-section hidden">
                <h1>My Certification Dashboard</h1>
                <div class="main">
                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-6 mb-4">
                            <div class="card">
                                <h2>Certifications Completed</h2>
                                <p><b id="completioncount"></b></p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 mb-4">
                            <div class="card">
                                <h2>Vouchers Received</h2>
                                <p><b id="vouchercount"></b></p>
                            </div>
                        </div>
                    </div>

                    <div class="table-container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Certification Name</th>
                                    <th>Completed Internal Assessment Test</th>
                                    <th>Received Voucher</th>
                                    <th>Exam Taken</th>
                                    <th>Uploaded Certificate</th>
                                    <th>Completed</th>
                                </tr>
                            </thead>
                            <tbody id="userdashboardtbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="enrollment" class="main-section hidden">
                <h1>Certificate Registration Details</h1>
                <div class="cards-container">
                    <div class="left-card">
                        <h2>Enrolled Certification</h2>
                        <div class="gap"></div>
                        <div style="height: 300px;overflow-y: auto;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>status</th>
                                    </tr>
                                </thead>
                                <tbody id="enrollTableBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="right-card">
                        <h2>Register for Certification</h2>
                        <div class="gap"></div>
                        <form id="certificationForm" method="post" action="{% url 'save_enrollment' %}">
                             {% csrf_token %}
                             <select id="provider" name="provider" onchange="loadNames()">
                                <option value="">---</option>
                             </select>
                             <select id="name" name="name">
                                <option value="">---</option>
                             </select>
                             <button type="submit">Submit</button>
                         </form>
                    </div>
                </div>
            </div>
            <div id="home-content" class="main-section">
                    <h1>Empowering Your Growth at LTIMindtree</h1>
                         <p>The Certe Certification Portal is designed to help you advance your career at LTIMindtree's Data and Analytics Unit. Whether you're looking to improve your skills, complete mandatory certifications, or explore new areas of expertise, Certe offers a comprehensive, user-friendly platform for all your certification needs.</p>

                    <h2>Key Features:</h2>
                    <ul>
                        <li>Access a wide range of certifications tailored to different roles within the Data and Analytics unit.</li>
                        <li>Complete certifications at your own pace, anywhere, anytime.</li>
                        <li>Earn vouchers and rewards upon certification completion to celebrate your achievements.</li>
                        <li>Track your progress and achievements in a personalized dashboard.</li>
                    </ul>
                    <p>Get started today and unlock new opportunities for growth!</p>

                    <h2>Our Certification Categories</h2>
                    <p>Certe offers certifications across various categories designed to support professional development in key areas:</p>
                    <ul>
                        <li>Data Science & Analytics</li>
                        <li>Machine Learning</li>
                        <li>Cloud Technologies</li>
                        <li>Project Management</li>
                        <li>Leadership & Communication</li>
                    </ul>
                    <p>Each certification is designed to be engaging, informative, and rewarding. Upon completion, you will receive a voucher that you can redeem for various rewards as a recognition of your hard work and dedication.</p>
                    <a href="#" class="cta" onclick="showEnrollment(); return false;">Explore Certifications</a>

                    <h2>Ready to Begin Your Journey?</h2>
                    <p>Join thousands of employees who are enhancing their skills and gaining new credentials with Certe. Our easy-to-use platform makes the process smooth and hassle-free.</p>
                    <p>Don’t wait—start your journey today by signing in and taking the first step towards unlocking new opportunities.</p>

            </div>
            <div id="leadership" class="main-section hidden">
                <h1 id="leadershiph1"> </h1>
                <div class="cards-container">
                    <div class="left-card">
                        <h2>Overall Certification Champions</h2>
                        <div class="gap"></div>
                            <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Certifications</th>
                                    <th>Rank</th>
                                </tr>
                            </thead>
                            <tbody id="champTableBody">
                            </tbody>
                        </table>
                    </div>
                    <div class="right-card">
                        <h2>Certified Associates by Provider</h2>
                        <div class="gap"></div>
                        <select id="companyDropdown" class="form-control mb-3">
                            <option value="">---</option>
                        </select>
                        <table class="provider-table table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody id="providerTableBody">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="upload-certificate" class="main-section hidden">
                <h1>Upload Your Certificate</h1>
                <div class="certificate-container">
                    <form id="certsubmit" method="post" action="{% url 'certificate_upload' %}" >
                    {% csrf_token %}
                        <select id="provider1" name="provider" onchange="loadNamesCertUpload()">
                        <option value="">---</option>
                        </select>
                        <select id="name1" name="name" onchange="showExamStatus()">
                        <option value="">---</option>
                        </select>
                        <div id="examStatus" style="display: none;">
                            <div class="radio-group" style="display: flex; gap: 20px;">
                                <p>Exam status</p>
                                <div>
                                    <input type="radio" id="pass" name="exam_result" value="pass" onchange="handlePassOption();showRequestIdOptions()">
                                    <label for="pass">Cleared</label>
                                </div>
                                <div>
                                    <input type="radio" id="fail" name="exam_result" value="fail" onchange="handleFailOption();hideRequestIdOptions();toggleSubmitButton()">
                                    <label for="fail">Not Cleared</label>
                                </div>
                            </div>
                        </div>
                        <div id="requestIdOptions" style="display: none;">
                            <div class="radio-group" style="display: flex; gap: 20px;">
                                <p>Request ID:</p>
                                <div>
                                    <input type="radio" id="requestIdYes" name="request_id" value="yes" onchange="handleRequestIdChange(true)">
                                    <label for="requestIdYes">Yes</label>
                                </div>
                                <div>
                                    <input type="radio" id="requestIdNo" name="request_id" value="no" onchange="handleRequestIdChange(false)">
                                    <label for="requestIdNo">No</label>
                                </div>
                            </div>

                            <div id="requestIdInput" style="display: none;">
                                <input type="text" id="requestIdValue" name="request_id_value" placeholder="Enter Request ID">
                            </div>

                            <div id="hardcodedLink" style="display: none;">
                                <a href="https://shoshin.ltimindtree.com/certificateUpload" target="_blank">Click here to Upload certificate on Shoshin</a>
                            </div>

                            <div id="uploadStatus" style="display: none;">
                                <input type="checkbox" id="uploadConfirm" name="upload_confirmed" onchange="toggleSubmitButton()">
                                <label for="uploadConfirm">I confirm the certificate has been uploaded</label>
                            </div>
                        </div>
                        <button type="submit" id="submitButton" disabled class="disabled-button" >Submit</button>
                    </form>
                </div>
            </div>
            <div id="Vouchers" class="main-section hidden">
                <div class="cards-container">
                    <div class="right-card">
                        <h2>Registered Certificate</h2>
                        <div class="gap"></div>
                        <select id="registered_cert_dropdown">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div class="left-card">
                        <h2>Enrolled Certification</h2>
                        <div class="gap"></div>
                        <h1 class="h5" id="cert"></h1>
                        <div class="step-navigation d-flex flex-column align-items-center">
                                <span id="statusmessage" style="color:red"></span>
                                <button type="submit" id="requestwcptestbtn" disabled class="disabled-button"> Request WCP Test</button>
                                <button type="submit" id="wcpcompletedbtn" disabled class="disabled-button"> WCP Completed</button>
<!--                                <button type="submit" id="voucherreceivedbtn" disabled class="disabled-button"> Voucher Received</button>-->
                                <button type="submit" id="exambookedbtn" disabled class="disabled-button"> Certification Exam Booked</button>
                                <button type="submit" id="examdatebtn" disabled class="disabled-button" onclick="showDateDiv()"> Update Exam Schedule Date</button>
                            <div id="dateDiv" style="display:none;">
                                <form>
                                    <label for="date">Exam Date:</label>
                                    <input type="date" id="date" name="date"><br><br>
                                    <input id="dateSubmitBtn" type="submit" value="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center py-3 curved-section footer">
        © 2024 LTIMindtree
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script src="{% static 'js/certe_script.js' %}"></script>
</html>